<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Likelist</title>
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
            crossorigin="anonymous"
    />
    <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <style>
        /* 스크롤 가능한 컨테이너 스타일 */
        .scrollable-container {
            max-height: 630px; /* 원하는 높이로 설정 */
            overflow: auto;
            border: 0px;
            padding: 10px; /* 내용과 테두리 간의 간격 (선택 사항) */
        }
        .copy {
            display: flex;
            align-items: center;
        }
        .copy-button {
            cursor: pointer;
            margin-left: 10px; /* 복사 버튼과 글 사이의 간격 조절 */
        }

        /* 하단바 버튼 간격 설정 */
        .navbar .container-fluid {
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
        nav {
            padding: 5%;
            background-color: lightblue;
        }
        .navbar .navbar-brand {
            margin: 0;
            height: 100%;
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
<nav class="navbar bg-body-tertiary">
<div class="container mt-1 mb-2">
    <div class="container-fluid">
        <form class="d-flex mt-2" role="search">
            <input class="form-control" type="search" placeholder="Search" aria-label="Search" style="width: 315px;">
            <a href="#" id="search-button">
                <img style="width: 2.2rem; margin-left: 1rem" src="/img/search.svg" alt="검색"/>
            </a>
        </form>
    </div>
</div>
</nav>
<div class="scrollable-container mt-1">
    <!-- 스크롤 가능한 컨테이너 내용 -->
    <div class="card mb-4" >
        <div class="card-header">
                  <span>
                    <div class="row fw-bold">
                        <div class="col-7">
                            <a href="#" style="font-size: 0.9rem; margin-left: 0.4rem;">명륜진사갈비 경산하양점</a>
                        </div>
                        <div class="col-3" style="background-color: orange; line-height: 1.6rem; border-radius: 4px;">
                            <a style="font-size: 0.9rem;">약간 붐빔</a>
                        </div>
                        <div class="col-1">
                            <a href="#" id="like-button">
                              <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" width="1.6rem" class="bi bi-star-fill" viewBox="0 0 16 16" style="color: black">
                                 <path d="M3.612 15.443c-.386.1978-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                              </svg>
                            </a>
                        </div>
                    </div>
                  </span>
        </div>
        <div class="card-body fw-bold">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
        <div class="copy" style="margin-left: 1rem; margin-bottom: 1rem;">
            <h7 id="fixedText">이 텍스트를 복사합니다.</h7>
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-files copy-button" viewBox="0 0 16 16">
                <path d="M13 0H6a2 2 0 0 0-2 2 2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h7a2 2 0 0 0 2-2 2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm0 13V4a2 2 0 0 0-2-2H5a1 1 0 0 1 1-1h7a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1zM3 4a1 1 0 0 1 1-1h7a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V4z"/>
            </svg>
        </div>
    </div>
    <div class="card mb-4" >
        <div class="card-header">
                  <span>
                    <div class="row fw-bold">
                        <div class="col-7">
                            <a href="#" style="font-size: 0.9rem; margin-left: 0.4rem;">명륜진사갈비 경산하양점</a>
                        </div>
                        <div class="col-3" style="background-color: orange; line-height: 1.6rem; border-radius: 4px;">
                            <a style="font-size: 0.9rem;">약간 붐빔</a>
                        </div>
                        <div class="col-1">
                            <a href="#" id="like-button">
                              <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" width="1.6rem" class="bi bi-star-fill" viewBox="0 0 16 16" style="color: black">
                                 <path d="M3.612 15.443c-.386.1978-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                              </svg>
                            </a>
                        </div>
                    </div>
                  </span>
        </div>
        <div class="card-body fw-bold">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
        <div class="copy" style="margin-left: 1rem; margin-bottom: 1rem;">
            <h7 id="fixedText">이 텍스트를 복사합니다.</h7>
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-files copy-button" viewBox="0 0 16 16">
                <path d="M13 0H6a2 2 0 0 0-2 2 2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h7a2 2 0 0 0 2-2 2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm0 13V4a2 2 0 0 0-2-2H5a1 1 0 0 1 1-1h7a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1zM3 4a1 1 0 0 1 1-1h7a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V4z"/>
            </svg>
        </div>
    </div>
    <div class="card mb-4" >
        <div class="card-header">
                  <span>
                    <div class="row fw-bold">
                        <div class="col-7">
                            <a href="#" style="font-size: 0.9rem; margin-left: 0.4rem;">명륜진사갈비 경산하양점</a>
                        </div>
                        <div class="col-3" style="background-color: orange; line-height: 1.6rem; border-radius: 4px;">
                            <a style="font-size: 0.9rem;">약간 붐빔</a>
                        </div>
                        <div class="col-1">
                            <a href="#" id="like-button">
                              <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" width="1.6rem" class="bi bi-star-fill" viewBox="0 0 16 16" style="color: black">
                                 <path d="M3.612 15.443c-.386.1978-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                              </svg>
                            </a>
                        </div>
                    </div>
                  </span>
        </div>
        <div class="card-body fw-bold">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
        <div class="copy" style="margin-left: 1rem; margin-bottom: 1rem;">
            <h7 id="fixedText">이 텍스트를 복사합니다.</h7>
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-files copy-button" viewBox="0 0 16 16">
                <path d="M13 0H6a2 2 0 0 0-2 2 2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h7a2 2 0 0 0 2-2 2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm0 13V4a2 2 0 0 0-2-2H5a1 1 0 0 1 1-1h7a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1zM3 4a1 1 0 0 1 1-1h7a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V4z"/>
            </svg>
        </div>
    </div>
    <div class="card mb-4" >
        <div class="card-header">
                  <span>
                    <div class="row fw-bold">
                        <div class="col-7">
                            <a href="#" style="font-size: 0.9rem; margin-left: 0.4rem;">명륜진사갈비 경산하양점</a>
                        </div>
                        <div class="col-3" style="background-color: orange; line-height: 1.6rem; border-radius: 4px;">
                            <a style="font-size: 0.9rem;">약간 붐빔</a>
                        </div>
                        <div class="col-1">
                            <a href="#" id="like-button">
                              <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" width="1.6rem" class="bi bi-star-fill" viewBox="0 0 16 16" style="color: black">
                                 <path d="M3.612 15.443c-.386.1978-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                              </svg>
                            </a>
                        </div>
                    </div>
                  </span>
        </div>
        <div class="card-body fw-bold">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
        <div class="copy" style="margin-left: 1rem; margin-bottom: 1rem;">
            <h7 id="fixedText">이 텍스트를 복사합니다.</h7>
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-files copy-button" viewBox="0 0 16 16">
                <path d="M13 0H6a2 2 0 0 0-2 2 2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h7a2 2 0 0 0 2-2 2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm0 13V4a2 2 0 0 0-2-2H5a1 1 0 0 1 1-1h7a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1zM3 4a1 1 0 0 1 1-1h7a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V4z"/>
            </svg>
        </div>
    </div>
    <div class="card mb-4" >
        <div class="card-header">
                  <span>
                    <div class="row fw-bold">
                        <div class="col-7">
                            <a href="#" style="font-size: 0.9rem; margin-left: 0.4rem;">명륜진사갈비 경산하양점</a>
                        </div>
                        <div class="col-3" style="background-color: orange; line-height: 1.6rem; border-radius: 4px;">
                            <a style="font-size: 0.9rem;">약간 붐빔</a>
                        </div>
                        <div class="col-1">
                            <a href="#" id="like-button">
                              <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" width="1.6rem" class="bi bi-star-fill" viewBox="0 0 16 16" style="color: black">
                                 <path d="M3.612 15.443c-.386.1978-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                              </svg>
                            </a>
                        </div>
                    </div>
                  </span>
        </div>
        <div class="card-body fw-bold">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
        <div class="copy" style="margin-left: 1rem; margin-bottom: 1rem;">
            <h7 id="fixedText">이 텍스트를 복사합니다.</h7>
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-files copy-button" viewBox="0 0 16 16">
                <path d="M13 0H6a2 2 0 0 0-2 2 2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h7a2 2 0 0 0 2-2 2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm0 13V4a2 2 0 0 0-2-2H5a1 1 0 0 1 1-1h7a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1zM3 4a1 1 0 0 1 1-1h7a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V4z"/>
            </svg>
        </div>
    </div>
</div>
</div>
<nav class="navbar navbar-lg fixed-bottom bg-body-tertiary">
    <br class="margin">
    <div class="container-fluid">
        <a class="navbar-brand" href="/sample/home.html">
            <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16" color="black">
                <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5ZM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5 5 5Z"/>
            </svg>
        </a>
        <a class="navbar-brand" href="/sample/map.html">
            <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-map" viewBox="0 0 16 16" color="black">
                <path fill-rule="evenodd" d="M15.817.113A.5.5 0 0 1 16 .5v14a.5.5 0 0 1-.402.49l-5 1a.502.502 0 0 1-.196 0L5.5 15.01l-4.902.98A.5.5 0 0 1 0 15.5v-14a.5.5 0 0 1 .402-.49l5-1a.5.5 0 0 1 .196 0L10.5.99l4.902-.98a.5.5 0 0 1 .415.103zM10 1.91l-4-.8v12.98l4 .8V1.91zm1 12.98 4-.8V1.11l-4 .8v12.98zm-6-.8V1.11l-4 .8v12.98l4-.8z"/>
            </svg>
        </a>
        <a class="navbar-brand" href="/sample/user.html">
            <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-person-bounding-box" viewBox="0 0 16 16" color="black">
                <path d="M1.5 1a.5.5 0 0 0-.5.5v3a.5.5 0 0 1-1 0v-3A1.5 1.5 0 0 1 1.5 0h3a.5.5 0 0 1 0 1h-3zM11 .5a.5.5 0 0 1 .5-.5h3A1.5 1.5 0 0 1 16 1.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 1-.5-.5zM.5 11a.5.5 0 0 1 .5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 1 0 1h-3A1.5 1.5 0 0 1 0 14.5v-3a.5.5 0 0 1 .5-.5zm15 0a.5.5 0 0 1 .5.5v3a1.5 1.5 0 0 1-1.5 1.5h-3a.5.5 0 0 1 0-1h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 1 .5-.5z"/>
                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm8-9a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
            </svg>
        </a>
    </div>
</nav>
</body>
<script>
    document.querySelector(".copy-button").onclick = function() {
        var text = document.getElementById("fixedText").innerText;
        navigator.clipboard.writeText(text).then(function() {
            alert("복사되었습니다!");
        }).catch(function(err) {
            console.error('복사 실패: ', err);
        });
    }

    // document.getElementById('like-button').addEventListener('click', function(event) {
    //     event.preventDefault(); // 이벤트의 기본 동작을 막음 (링크로 이동하는 동작을 취소)

    //     var icon = document.querySelector('#like-button svg'); // 아이콘 선택
    //     var currentColor = icon.style.color;

    //     if (currentColor === 'black') {
    //         icon.style.color = 'red'; // 원하는 색상으로 변경 (예: 빨간색)
    //     } else {
    //         icon.style.color = 'black'; // 다시 초기 색상으로 변경 (검은색)
    //     }
    // });

    // 버튼 클릭 시 부모 div 삭제하는 함수
    function removeCard() {
        var card = this.closest('.card');
        card.remove();
    }

    // 모든 like-button 요소에 클릭 이벤트 추가
    var likeButtons = document.querySelectorAll('#like-button');
    likeButtons.forEach(function(button) {
        button.addEventListener('click', removeCard);
    });

</script>
</html>