<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
            crossorigin="anonymous"
    />
    <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square.css">
    <style>
        body {
            font-family: 'NanumSquareExtraBold';
        }
        .button-container {
            display: grid;
            grid-template-columns: repeat(2, 1fr); /* 2열로 배치 */
            gap: 7px; /* 버튼 간 간격 설정 */
        }
        .button {
            text-align: center;
            padding: 10px;
            border: none;
            cursor: pointer;
            text-decoration: none;
        }
        #header {
            background-color: #FCA56F !important;
        }

    </style>
</head>
<body>
<nav id="header" class="navbar bg-body-tertiary">
    <div class="container mt-1 mb-2">
        <div class="container-fluid">
            <form class="d-flex mt-2" role="search">
                <input class="form-control fw-bold" type="search" placeholder="검색" aria-label="Search" style="width: 315px; height: 45px;">
                <a href="#" id="search-button">
                    <img style="width: 2.6rem; margin-left: 1rem" src="/img/search.svg" alt="검색"/>
                </a>
            </form>
        </div>
    </div>
</nav>
<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000">
            <img src="/img/001.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="2000">
            <img src="/img/002.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="/img/003.png" class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<div class="button-container" style="margin-top: 2.5rem;">
    <a class='button mb-4' href="api/map/한식">
        <img style="height: 3.8rem" src="/img/porridge.png" alt="한식"/>
        <h1 style="font-weight: bold; font-size: 1.2rem; margin-top: 1rem; color: black;">한식</h1>
    </a>
    <a class='button mb-4' href="api/map/중식">
        <img style="height: 3.8rem" src="/img/dimsum.png" alt="중식"/>
        <h1 style="font-weight: bold; font-size: 1.2rem; margin-top: 1rem; color: black;">중식</h1>
    </a>
    <a class='button mb-4' href="api/map/일식">
        <img style="height: 3.8rem" src="/img/sushi.png" alt="일식"/>
        <h1 style="font-weight: bold; font-size: 1.2rem; margin-top: 1rem; color: black;">일식</h1>
    </a>
    <a class='button mb-4' href="api/map/서양식">
        <img style="height: 3.8rem" src="/img/pizza.png" alt="양식"/>
        <h1 style="font-weight: bold; font-size: 1.2rem; margin-top: 1rem; color: black;">양식</h1>
    </a>
    <a class='button mb-4' href="api/map/아시아">
        <img style="height: 3.8rem" src="/img/sauce.png" alt="아시안"/>
        <h1 style="font-weight: bold; font-size: 1.2rem; margin-top: 1rem; color: black;">아시안</h1>
    </a>
    <a class='button mb-4' href="api/map/디저트">
        <img style="height: 3.8rem" src="/img/dessert.png" alt="디저트"/>
        <h1 style="font-weight: bold; font-size: 1.2rem; margin-top: 1rem; color: black;">디저트</h1>
    </a>
</div>
<div id="menuBar"></div>
<script src="/js/menuBar.js"></script>
</body>
<script>
    // 버튼 클릭 시 부모 div 삭제하는 함수
    function removeCard() {
        var card = this.closest('.card');
        card.remove();
    }

    // 모든 like-button 요소에 클릭 이벤트 추가
    var likeButtons = document.querySelectorAll('#like-button');
    likeButtons.forEach(function(button) {
        button.addEventListener('click', removeCard);
    });

</script>
</html>