<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" >
    <title>회원가입</title>
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
            crossorigin="anonymous"
    />
    <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square.css">
    <style>
        body {
            font-family: 'NanumSquareExtraBold';
        }
        input[type=password]{
            font-family:"굴림";
        }
        .container input {
            border-radius: 0;
            border: none;
            border-bottom: 2px solid #595959;
            transform: rotate(0.04deg);
        }
        label {
            transform: rotate(0.04deg);
        }
        label[for="userId"], label[for="userPw"], label[for="userPw2"], label[id="userIdCheck"] {
            font-family: 'NanumSquareBold';
            font-size: 1.2rem;
        }
        .container input:focus {
            outline: none;
            box-shadow: none;
        }
    </style>
</head>
<body>
<div class="container mt-5 mb-4" >
    <div class="text-center">
        <div class="display-4 mb-4 fw-bold" style="font-size: 2.5rem">회원가입</div>
        <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="currentColor" class="bi bi-person-circle mt-4 mb-3" viewBox="0 0 16 16">
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
        </svg>
    </div>
    <div class="container mt-5">
        <div class="form-group mb-3">
            <div class="row justify-content-between">
                <div class="col-auto">
                    <label for="userId" id="userIdLabel" class="form-label" style="font-size: 1.2rem">아이디</label>
                </div>
                <div class="col-auto">
                    <label style="font-size: 1rem" id="userIdCheck"></label>
                </div>
            </div>
            <input type="text" class="form-control" id="userId" name="userId">
        </div>
        <div class="form-group mb-3">
            <div class="row justify-content-between">
                <div class="col-auto">
                    <label for="userPw" class="form-label" onblur="pwChecker()" style="font-size: 1.2rem">비밀번호</label>
                </div>
                <div class="col-auto">
                    <label style="font-size: 1rem; color:red" id="pwChecker" ></label>
                </div>
            </div>
            <input type="password" onblur="pwChecker()" class="form-control" id="userPw" name="userPw">
        </div>
        <div class="form-group mb-3">
            <label for="userPw2" class="form-label" onblur="pwChecker()" style="font-size: 1.2rem">비밀번호 확인</label>
            <input type="password" onblur="pwChecker()" class="form-control" id="userPw2" name="userPw2">
        </div>
        <div class="form-floating mt-5 mb-3">
            <button type="submit" id="submitBtn" class="btn btn-primary w-100 btn-lg fw-bold" style="border: none; background-color: #FFB7B1;">회원가입</button>
            <button type="button" class="btn btn-secondary w-100 btn-lg fw-bold mt-3" style="border: none; background-color: #C2C2C2; margin-bottom: 3.7rem" onclick="location.href='/login'">취소</button>
        </div>
    </div>
</div>

<div class="modal fade" id="alertModal" data-bs-keyboard="false" tabindex="-1" aria-hidden="true"></div>
<script src="/js/alert.js"></script>
<div id="menuBar"></div>
<script src="/js/menuBar.js"></script>
<script src="/js/mcore.min.js"></script>
<script>
    M.onBack( function(e) {
        location.href='/login';
    });
const o = document.getElementById('userPw');
const re = document.getElementById('userPw2');
const pw = document.getElementById('pwChecker');
const userId = document.getElementById('userId');
const userIdCheck = document.getElementById('userIdCheck');
const submitBtn = document.getElementById('submitBtn');


function pwChecker() {
    if (o.value !== re.value)  pw.innerHTML = '비밀번호가 일치하지 않습니다';
    else pw.innerHTML = '';
}

submitBtn.addEventListener('click', () => {
    console.log('login button in...')
    if (userIdCheck.innerHTML === '사용 가능한 아이디 입니다'
        && pw.innerHTML !== '비밀번호가 일치하지 않습니다'
        && o.value !== ''
        && re.value !== '') {
        fetch('/signup', {
            method: 'post',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                userId: userId.value,
                userPw: o.value
            })
        }).then(res => res.text()).then(data => {
            if (data != null) location.href = "/login"
        })

    } else {
        console.log('login failed in...')
        $('#alertModal').html(alertModal('아이디와 비밀번호를 다시 확인해주세요'));
        $('#alertModal').modal('show');
    }
})

userId.addEventListener('blur', async () => {
    if(userId.value !== '') {
        const result = await postFetcher('/id-check', {userId: userId.value})
        if (userId.value.length < 3) {
            userIdCheck.innerHTML = '3글자 이상 입력해 주세요';
            userIdCheck.style.color = 'red';
        }
        else if (result) {
            userIdCheck.innerHTML = '사용 가능한 아이디 입니다';
            userIdCheck.style.color = 'blue';
        } else {
            userIdCheck.innerHTML = '사용 중인 아이디 입니다';
            userIdCheck.style.color = 'red';
        }
    }
})
</script>

<script src="/js/fetcher.js"></script>


</body>
</html>