<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>회원가입</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square.css">
    <style>
        body {
            font-family: 'NanumSquareExtraBold';
        }
    </style>
</head>
<body>
<div class="container my-5 text-center">
    <div class="display-4 mb-5 fw-bold">회원가입</div>
    <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="currentColor" class="bi bi-person-circle mt-4 mb-3" viewBox="0 0 16 16">
        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
    </svg>
    <form action="/signup" method="post">
        <div class="container mt-5 fw-bold">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="userId" name="userId" placeholder="이메일 입력">
                <label for="userId" class="form-label">이메일 입력</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control" id="userPw" name="userPw" placeholder="비밀번호">
                <label for="userPw" class="form-label">비밀번호</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control" id="userPw2" name="userPw2" placeholder="비밀번호">
                <label for="userPw2" class="form-label">비밀번호 확인</label>
            </div>
            <div class="form-floating mt-5 mb-5">
                <button type="submit" class="btn btn-primary w-100 btn-lg fw-bold" style="border: none; background-color: #FCA56F;">회원가입</button>
                <button type="button" class="btn btn-secondary w-100 btn-lg fw-bold mt-3" style="border: none; background-color: #C2C2C2;" onclick="location.href='/login'">취소</button>
            </div>
        </div>
    </form>
</div>

<div id="pwChecker" class="text-center"></div>
<div id="menuBar"></div>
<script src="/js/menuBar.js"></script>
<script>
    const o = document.getElementById('userPw');
    const re = document.getElementById('userPw2');
    const pw = document.getElementById('pwChecker');

    o.addEventListener('onblur', pwChecker);
    re.addEventListener('onblur', pwChecker());

    function pwChecker() {
        if (o.value === re.value) {
            pw.innerHTML = '비밀번호가 일치합니다.';
        }
        else if (!o.value && !re.value) {
            pw.innerHTML = '';
        }
        else {
            pw.innerHTML = '비밀번호가 일치하지 않습니다.';
        }
        console.log(re.value)
        console.log(o.value)
    }
</script>
</body>
</html>